<ion-content>

  <div class="box-imc-content" *ngFor="let stat of (userImc | async)?.stats">
    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{stat.imc}}</ion-card-subtitle>
      <ion-card-title>Votre IMC {{stat.imc}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Votre taille: {{stat.taille}}</p>
      <p>Votre Poids: {{stat.poids}}</p>
      <br>
      <p>D'après  l'interpétation de l'OMS ce IMC {{stat.imc}} représente <span class="result-imc-oms">une corpulence normale</span>.</p>
    </ion-card-content>
  </ion-card>
      <p class="imc-content"></p>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/addimc" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
