<ion-content>
  <app-wave></app-wave>
  <app-logo></app-logo>

  <div class="title-h1">
    <ion-text>
      <h1 class="title-h1-resp">Profil biologique</h1>
    </ion-text>
  </div>

<!--  <ion-grid class="button-box">-->
<!--    <ion-row>-->
<!--      <ion-col class="gender-box" size="6">-->
<!--        <input type="radio" name="demo2" class="demo2 femme" id="femme" checked>-->
<!--        <label [(ngModel)]="gender" name="gender" for="femme">Femme</label>-->
<!--      </ion-col>-->
<!--      <ion-col class="gender-box" size="6">-->
<!--        <input type="radio" name="demo2" class="demo2 homme" id="homme">-->
<!--        <label [(ngModel)]="gender" name="gender" for="homme">Homme</label>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->

  <div class="box-items">
    <ion-item class="picker-resp">
      <ion-label position="floating">Age</ion-label>
      <ion-input [(ngModel)]="age" name="age" type="number" maxlenght="270"></ion-input>
    </ion-item>

    <ion-item class="picker-resp">
      <ion-label position="floating">Taille (Cm)</ion-label>
      <ion-input [(ngModel)]="taille" name="taille" type="number" maxlenght="270"></ion-input>
    </ion-item>
    <ion-item class="picker-resp">
      <ion-label position="floating">Poids (Kg)</ion-label>
      <ion-input [(ngModel)]="poids" name="poids" type="number" maxlenght="680"></ion-input>
    </ion-item>
  </div>

  <p class="note">Ces informations ont pour but d’améliorer les calculs par rapport à votre profil biologique</p>

  <div class="btn-component">
    <ion-button (click)="envoyer()"  class="btn-bg-bgcolor" color="#088BBF" expand="block">Suivant</ion-button>

  </div>
</ion-content>

