<ion-content>
  <app-wave></app-wave>
  <app-logo></app-logo>

  <div class="title-h1">
    <ion-text>
      <h1 class="title-h1-resp">Profil biologique</h1>
    </ion-text>
  </div>

  <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-around">
    <ion-item class="item-choise-gender">
      <div style="margin-right: 25px">
        <ion-label>Femme</ion-label>
      </div>
      <div>
        <ion-toggle [(ngModel)]="gender" name="gender"></ion-toggle>
      </div>
      <div style="margin-left: 25px">
        <ion-label>Homme</ion-label>
      </div>
    </ion-item>
  </div>


  <div class="box-items">
    <ion-item class="picker-resp">
      <ion-label position="floating">Age</ion-label>
      <ion-input [(ngModel)]="age" name="age" type="number" maxlenght="270"></ion-input>
    </ion-item>

    <ion-item class="picker-resp">
      <ion-label position="floating">Taille (Cm)</ion-label>
      <ion-input [(ngModel)]="taille" name="taille" type="number" maxlenght="270"></ion-input>
    </ion-item>
    <ion-item class="picker-resp">
      <ion-label position="floating">Poids (Kg)</ion-label>
      <ion-input [(ngModel)]="poids" name="poids" type="number" maxlenght="680"></ion-input>
    </ion-item>
  </div>

  <p class="note">Ces informations ont pour but d’améliorer les calculs par rapport à votre profil biologique</p>

  <div class="btn-component">
    <ion-button (click)="envoyer()" class="btn-bg-bgcolor" color="#088BBF" expand="block">Suivant</ion-button>

  </div>
</ion-content>

