.pannel{
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.title-h1{
  padding: 15px;
  padding-bottom: 0;
  margin-top: 30vh;
  font-size: 2em;
}

.form{
  margin-bottom: 15px;
}

ion-item{
  --border-color: #088BBF;
}

ion-item:focus{
  --border-color: #02C39A;
}

.password-missing{
  text-decoration: none;
  margin-top: 5vh;
  text-align: right;
  text-transform: uppercase;
}


//iphone 5

@media screen and (max-width: 320px){

  .title-h1-resp{
    margin-top: -3vh;
    font-size: 1.2rem;
  }

  .password-missing{
    font-size: 0.8rem;
    margin-top: 5vh;

  }

  .form{
    font-size: 1rem;
  }

}


//Iphone 6-7-8

@media screen and (min-width: 375px) {

}

