<ion-content>
  <app-wave></app-wave>
  <ion-grid>
    <ion-text>
      <h2 class="h2">Profil biologique</h2>
    </ion-text>
    <ion-list>
      <ion-row>
        <ion-col class="gender-box" size="6">
          <input type="radio" name="demo2" class="demo2 demoyes" id="demo2-a" checked>
          <label for="demo2-a">Femme</label>
        </ion-col>
        <ion-col class="gender-box" size="6">
          <input type="radio" name="demo2" class="demo2 demono" id="demo2-b">
          <label for="demo2-b">Homme</label>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>
