<ion-content>
  <app-wave></app-wave>
  <app-logo></app-logo>

  <div class="title-h1">
    <ion-text class="title-h1-resp">
      <h1>Bienvenue sur Elf.e</h1>
    </ion-text>
  </div>

  <div class="btn-component">
    <ion-button routerLink="/login" class="btn-bg-bgcolor" color="#088BBF" expand="block">Se connecter</ion-button>

    <div class="optionbtn">
      <div class="row-option"></div>
      <div class="text-option">
        <ion-text>
          <p class="text-option">OU</p>
        </ion-text>
      </div>
      <div class="row-option"></div>
    </div>

    <ion-button routerLink="/register" class="btn-bg-trans" color="#088BBF" expand="block">Créer un compte</ion-button>
  </div>

</ion-content>
