.logo{
  width: 125px;
  height: 125px;
  background-image: url("../../../assets/img/coeur.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 25;
  top: 15vh;
  left: 40%;
  animation: heartbeat 1.5s infinite;
}


@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}
