.panel{
  position: relative;
  width: 100%;
}

.header{
  z-index: 1;
  position: fixed;
  top: -23vh;
  left: -330px;
  background: #303643;
  height: 60vh;
  width: 1000px;
  border-radius: 50%;
  box-shadow: 0px 2px 18px 4px rgb(0 0 0 / 28%);
  -webkit-box-shadow: 0px 2px 18px 4px rgb(0 0 0 / 28%);
  -moz-box-shadow: 0px 2px 18px 4px rgb(0 0 0 / 28%);
}

.infos{
  z-index: 2;
  position: fixed;
  top: 10vh;
  width: 100%;
  height: auto;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.values_kaloff {
  position: relative;
  top: 3vh;
  left: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.values_kalon{
  position: relative;
  top: 3vh;
  right: 2vw;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.pourcent{
  position: relative;
  top: -7vh;
  left: -1vw;
  width: 150px;
  height: 150px;
}

.pourcent svg circle{
  margin-top: 2%;
  fill: none;
  stroke-width: 5px;
  stroke: #fff;
  transform: translate(5px,5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.pourcent svg circle:nth-child(1){
  stroke-dashoffset: 0;
  stroke: #02C39A;
}

.pourcent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 120 ) / 100);
  stroke: #fff;
}

.pourcent .number{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}



.values-input{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50vh;
  width: 100%;
  height: auto;
  align-items: center;
}

.card{
  display: flex;
  align-items: center;
  width: 95%;
  height: 10vh;
  background-color: #303643;
  border-radius: 5px;
  margin-bottom: 5vh;
}
