<ion-content>
  <div class="panel">
    <div class="header">
    </div>
    <div class="infos">
      <div class="values_kaloff">
        <p>0</p>
        <p>Consommées</p>
      </div>
      <div class="values_kalrest">
          <div class="pourcent">
            <svg>
              <circle cx="70" cy="70" r="60"></circle>
              <circle cx="70" cy="70" r="60"></circle>
            </svg>
            <div class="number">
              <p>120<span>Kcal</span></p>
            </div>
          </div>
        </div>
      <div class="values_kalon">
        <p>0</p>
        <p>Brulées</p>
      </div>
    </div>

    <div class="values-input">
      <div class="card">
        <p>Ajouter un petit déjeuner</p>

      </div>

      <div class="card">
        <p>Ajouter un déjeuner</p>

      </div>

      <div class="card">
        <p>Ajouter un diner</p>

      </div>

      <div class="card">
        <p>Ajouter un gouter</p>

      </div>

      <div class="card">
        <p>Activité Physique</p>

      </div>


    </div>

  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">

      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="wine-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
